@font-face{
    font-family: 'Outfit';
    src: url("../font/_Outfit-Bold.ttf")
}

@font-face{
    font-family: 'Pixel Arial';
    src: url("../font/PIXEAB__.TTF")
}

@font-face{
    font-family: 'Pixel Arial';
    src: url("../font/PIXEARG_.TTF")
}